.navbar {
	display: flex;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e6;
	background-color: #f8f9fa;

	a {
		margin-left: 15px;
		color: #7b7b7c;

		&:hover {
			color: darken(#59595a, 0.9);
		}

		&.active {
			color: darken(#3c3c3c, 0.9);
		}
	}

	&__login {
		display: flex;
		flex-direction: row;

		a {
			text-decoration: none;
		}
	}

	&__navigate {
		display: flex;
		flex-direction: row;

		&__shop {
			margin-left: 15px;
			justify-content: center;
		}
	}
}

.container {
	padding: 30px;
}

.footer {
	padding: 30px;
}
